:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #020d18;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body.loading-active {
  overflow: hidden;
}

.custom-checkbox-label {
  color: #fff !important;
  font-weight: normal !important;
  
}

.custom-checkbox-label:hover {
  color: #dcf836 !important;
  cursor: pointer;
}

.btn-check:checked+.custom-checkbox-label {
  color: #dcf836 !important;
  font-weight: 600 !important;
}

.form-control, .form-select {
  background-color: #233a50 !important;
  color: #fff !important;
  border: 0!important;
  border-radius: 0 !important;
}

.form-control::placeholder {
  color: #abb7c4 !important;
}

.form-control:focus, .form-select:focus {
  box-shadow:  none !important;
}

.input-group {
      border: 4px solid #020d18 !important;
}

.input-group select.form-select {
  border-right: 4px solid #020d18 !important;
}

label {
  color: #fff !important;
}

.clamp-2 {
  display: -webkit-box;        /* required for line clamping */
  -webkit-line-clamp: 2;       /* number of lines to show */
  -webkit-box-orient: vertical; /* required for line clamping */
  overflow: hidden;             /* hide overflowing text */
  text-overflow: ellipsis;      /* show "..." at the end */
}

.anime-container {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.anime-container:hover {
  transform: scale(1.02);
}

.anime-container:hover .title {
  color: #DCf836 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.page-link {
  color: #fff!important;
  background-color: #233a50 !important;
  border-color: #020d18 !important;
  font-size: 20px !important;
  padding: 8px 20px !important;
}

.active>.page-link, .page-link.active {
  background-color: #DCf836 !important;
  color: #020d18 !important;
  border-color: #DCf836 !important;
  font-weight: bold !important;
}

.backdrop-container {
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5); 
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.section-search {
  background-image: url(assets/images/slider-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.anime-image {
  max-height: 400px;
  min-height: 400px;
  border-radius: 14px;
}

.anime-image-skeleton {
  height: 400px;
  border-radius: 14px;
}

.text-theme-secondary {
  color: #ABB7c4 !important;
}

.bg-theme-secondary {
  background-color: #ABB7c4 !important;
}

.hr-m-lg {
  margin: 35px 0;
}

.min-vh-50 {
  min-height: 50vh;
}

.main-container-height {
  min-height: calc(100vh - 56px);
}